<% layout("/layouts/boilerplate")%>

    <div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit  Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]"
         type="text"
         value="<%=listing.title%>"
         class="form-control" required/>
         <div class="valid-feedback">Title Look's Good</div>
         <div class="invalid-feedback">Please Enter a Valid Title</div>
        </div>

        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" 
         class="form-control" required><%=listing.description%></textarea>
         <div class="valid-feedback">Description Look's Good</div>
         <div class="invalid-feedback">Please Enter a Shot Description</div>
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]"  type="number" class="form-control" value="<%=listing.price%>" required/>
        <div class="invalid-feedback">Please Enter a Valid Price in Numbers</div>
        </div>

         <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]"  type="text" class="form-control" value="<%=listing.country%>" required/>
        <div class="invalid-feedback">Please Enter a Valid Country</div>
        </div>
        </div>

        <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input name="listing[image]"  type="text" class="form-control" value="<%=listing.image%>" required/>
        <div class="invalid-feedback">Please Enter a Image/URL</div>
        </div>

        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]"  type="text" class="form-control" value="<%=listing.location%>" required/>
        <div class="invalid-feedback">Please Enter a Valid Location</div>
        </div>

        <button type="submit" class="btn btn-secondary btn-lg btnnew">Submit</button>
        <br><br>
    </form>
    </div>
    </div>
<script src="/javascript/script.js"></script

